<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="BOSCUBEMAP" value="\\mad00fph\n4public\Bos\struct_devel\BOSNavigator\CubeMap\Plan.pdf" />
		<add key="CHECKOUTLOG" value="\\mad00fph\n4public\Bos\struct_devel\BOSNavigator\checkout.csv" />
		<add key="SIFileName" value="C:\Program Files (x86)\Adobe\Acrobat DC\Acrobat\Acrobat.exe" />
		<add key="ComputersXmlFilePath" value="C:\Users\DOTLDB\source\repos\WisDot.Bos.ComputerResources\BOSComputers.xml" />
		<!--<add key="ComputersXmlFilePath" value="\\mad00fph\n4public\bos\struct_devel\BosNavigator\BOSComputers.xml" />-->
		<add key="DistributionSourceXmlFilePath" value="C:\Users\DOTLDB\source\repos\WisDot.Bos.ComputerResources\distribution-sources.xml" />
		<!--<add key="DistributionSourceXmlFilePath" value="\\mad00fp1\w4bhs\struct_devel\distribution-sources.xml" />-->
		<add key="EmployeesXmlFilePath" value="C:\Users\DOTLDB\source\repos\WisDot.Bos.ComputerResources\bosowners.xml" />
		<!--<add key="EmployeesXmlFilePath" value="\\mad00fph\n4public\bos\struct_devel\BosNavigator\bosowners.xml" />-->
		<add key="UnitsXmlFilePath" value="C:\Users\DOTLDB\source\repos\WisDot.Bos.ComputerResources\boslocations.xml" />
		<!--<add key="UnitsXmlFilePath" value="\\mad00fph\n4public\bos\struct_devel\BosNavigator\boslocations.xml" />-->
		<add key="BridgePlansDirectory" value="\\dotstrc\04bridge\" />
		<add key="AdminDoc" value="\\mad00fph\n4public\Bos\struct_devel\BOSNavigator\UserRights.xml" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="InitialDirectory" value="\\mad00fp1\w4bhs\Struct_Devel\" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>