<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key ="Brd Host 1" value="BrD Host: MAD03H60859"/>
    <add key ="Brd Host 2" value="BrD Host: MAD03H62971"/>
    <add key ="Computer List" value="\\mad00fph\n4public\Bos\struct_devel\BOSNavigator\BOSComputers.xml"/>
  </appSettings>
</configuration>
